/* Change the background color */
body {
    background-color: rgb(149, 208, 210);
}

/* This will style the nav links to look like buttons */
.navButtonWrapper {
    background-color: blueviolet;
    width: 100px;
    padding: 11px 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    display: inline-block;
    position: relative;
}



/* Use the hover on the div to change background color */
.navButtonWrapper:hover {
    background-color: deeppink;
    transition-duration: 500ms;
    /* border: 2px solid greenyellow; */
}

/* This will remove the hyperlink "look" of the <a> element */
.navButtonWrapper a {
    text-decoration: none;
    color: whitesmoke;
}

.dropdownBox {
    display: none;
    position: absolute;
    z-index: 1;
    border: 1px solid black;
    border-radius: 3px;
    /* The following lines will center the dropdown under the product button */
    margin-top: 10px;
    margin-left: -25px;
    box-shadow: 5px 5px 10px gray;
}



/* This will override the previous class during a hover
event to display the dropdown. This has to come after the display: none property */
.navButtonWrapper:hover .dropdownBox {
    display: block;
}

/*for the dropbox div Change the background color to a different default color  */
/* .dropdownBox .navButtonWrapper {
    background-color: greenyellow;
} */

/* .navButtonWrapper div {
    background-color: red;
} */

.redBG {
    background-color: coral;
}

/* Change the default font properties for only the anchor elements in the dropdown */
.dropdownBox a:hover {
    color: rgb(115, 74, 20);
    transition-duration: 500ms;
    font-size: 1.25rem;
}

/* When hovered over, change any properties of only the dropdown anchor elements */